<!DOCTYPE html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>All Quotes</title>
</head>

<body>

<!--If it doesnt have collection, it would fail.-->
<ul>
  <li th:each="quote: ${quotes}">
    <p>&ldquo;<span th:text="${quote.text}"></span>&rdquo;</p>
    <!-- Elvis operator (?:) ternary. if ones not true, it goes to the next statement. -->
    <p>Source: <span th:text="${quote?.source?.name} ?: '(Unknown)'"></span></p>
  </li>
</ul>

</body>

</html>